.navbar-react {
  background-color: #007acc;
  display: grid;
  color: #fff;
  height: 65px;
  grid-template-columns: 4vw 70vw 22vw 9vw;
  align-items: center;
  box-sizing: border-box;
}

.logo-react {
  width: 60px;
  height: 58.33px;
  margin: 0px 16px;
  transform: translateY(2px);
  box-sizing: border-box;
}

.navbar-item-1 {
  grid-column: 1 / 2;
  box-sizing: border-box;
}

.navbar-item-2 {
  box-sizing: border-box;
  grid-column: 2 / 2;
  display: flex;
  padding-left: 3rem;
}